# Virtual environment
venv/
env/
.venv/

# Python cache
__pycache__/
*.pyc

# Jupyter checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Model files (optional depending on size)
*.pt
*.pth

# VS Code
.vscode/